

/* setjum box-sizing: border-box; á allt */
html {
  font-family: "Open Sans"
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1em;

}

*, *:before, *:after {
  box-sizing: inherit;

  /* fjarlÃ¦gjum margin og padding */
  margin: 0;
  padding: 0;
}

body {
  display: block;
}
header {
  height: 4.5em;
  margin: 0 auto;
  font-family: "Roboto Slab";
  width: 100%;
  max-width: 1200px;
  display: grid;
  background-color: black;
  font-style: italic;
  color: white;

}
p.Foo{
  font-size: 2em;
  margin-left: 1em;
  margin-top: 5px;
}
div button {
  width: 100%;
  background-color: #000;
  border-color: #000;
  max-width: 4em;
  float: right;
  border-radius: 4px;
  font-size: 1.5em;
  cursor: pointer;
  color: #eee;
  text-align: center;
  margin-top: 0.7em;
}
button.kaupa {
  float: right;
  background-color: #667;
  font-size: 1.5em;
  text-align: center;
  padding-right: 3em;
  margin-right: 1em;
}
main {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 1200px;

}
div.efrihluti {
  width: 100%;
  max-width: 1200px;
  font-family: "Open Sans";
  height: 30em;
  margin-bottom: 2em;
  background: transparent url(bg-subpage.jpg)  50% 50%;
  background-size: cover;
}
div.prufa {
  width: 100%;
}
h1{
  padding-top: 15%;
  white-space: pre-line;
  word-wrap: break-word;
  width: 100%;
  font-family: "Roboto Slab";
  font-size: 4em;
  color:white;
}
section.mainstuff {
  margin-top: 1em;
  font-family: "Open Sans";
}
h3{
  font-family: "Roboto Slab";
  font-size: 1.5em;
  padding: 1em;
}
section.mainstuff p{
  padding: 1em;
}
div.blandast {
  width: 100%;
  display: inline-flex;
  flex-direction: row-reverse;
}

blockquote {
  width: 50%;
  margin-top: 2em;
  text-align: center;
  font-size: 1.3em;
  font-style: italic;

}
blockquote cite{
  display: block;
  font-size: 0.5em;
}
div p.floatleft{
  width: 50%;
}
@media (max-width: 400px) {
  div.blandast{
    display: block;
    align-items: center;
  }
  blockquote{
    width: 100%;

  }
  div p.floatleft{
    width: 100%;
  }
}
section.yfirfooter {
  display: flex;
  flex-direction:row;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #373737;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

ul{
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
  display: block;

}
ul.leftlist{
  align-self: center;
}
ul.rightlist{
  align-self: center;
}
li{

  list-style: none;
}
@@media (max-width 400px) {

}
footer{
  display: block;
  padding: 2em;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: #373737;
  color: #fff;
  text-align: center;
}
footer p {
  border-top: 2px solid #fff;
  padding: 1em;
}
