a {/* stylelint-disable-line */
  width: 100%;
  max-width: 3em;
  padding: 0.7em 0 0 0.5em;
  margin: 0 0.5em 0 0;
  color: #eee;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  border: 0;
}
