.header {
  max-width: 1200px;
  height: 46em;
  padding-top: 17em;
  margin-top: -3em;
  margin-bottom: 5em;
  text-align: center;
  background: transparent url("bg.jpg") no-repeat fixed 50% 0%;
  background-size: 77.5em;
}
